<div class="home-ethos">
    <div class="col-md-12 content-body">
        <div class="row">
            <div class="col-md-6">
                <div class="title-name text-bold" style="margin-left: 20px;">
                    <span>Moves Matter</span>
                </div>
                <div class="content-name text-black w-100" style="margin-left: 20px;">
                    <span>Is the product of Alisam Moves Ltd UK</span>
                </div>
            </div>
            <div class="seperate-body">
                <div class="seperate"></div>
            </div>
            <div class="col-md-5">
                <div class="title-name text-bold">
                    <span>Our founders</span>
                </div>
                <div class="content-name text-black w-100">
                    <span>Ali Gordon-Creed</span>
                </div>
                <div class="content-name text-black w-100">
                    <span>Sam Lloyd
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="link-policy">
            <a [routerLink]="['/terms-and-conditions']">Privacy statement</a>
            <br>
            <br>
            <a>GDPR compliance</a>
            <br>
            <br>
            <a>Cookie policy</a>
            <br>
            <br>
        </div>
    </div>
</div>