::ng-deep .preview-campaign .detail{
  padding: 0 16px;
}

::ng-deep .preview-campaign.preview .content-detail {
  height: 280px;
}

::ng-deep .preview-campaign .nav .nav-item {
  padding-left: 5px;
  text-align: center;
}

.preview.preview-campaign .list-number .nav {
  justify-content: unset;
}

::ng-deep .p-dialog.popup-preview .preview.preview-campaign .list-number {
  padding: 8px 0;
}

::ng-deep .preview-campaign .nav .nav-item:first-child {
  width: 30%;
}

::ng-deep .preview-campaign .nav .nav-item:nth-child(2){
  width: 22.5%;
}

::ng-deep .preview-campaign .nav .nav-item:nth-child(3) {
  width: 22.5%;
}

::ng-deep .preview-campaign .nav .nav-item:last-child {
  width: 25%;
}

::ng-deep .preview-campaign.preview .list-number .nav {
  text-align: left;
}

.preview .image img {
  height: 70px;
  max-width: 100%;
}