::ng-deep .contents-wrapper {
    background-color: #1a1334;
    padding-bottom: calc(4.1rem)!important;
    min-height: calc(110vh - (4.1rem + 1px))!important;
}

.home-ethos {
    background: #2D2252;
}

.home-ethos .content-body {
    font-size: 18px;
    color: #161615;
    background-color: #fff;
}

.home-ethos .text-white img {
    margin-top: 8%;
    margin-left: 6%;
    height: 80%;
    width: 90%;
    object-fit: contain;
    object-position: center;
}

.home-ethos .seperate-body {
    width: 2%;
}

.home-ethos .seperate-body .seperate {
    margin-top: 25%;
    height: 96%;
    width: 15%;
    background-color: #000;
}

.home-ethos .seperate-horizontal {
    margin-top: 15px;
    height: 7px;
    background-color: #000;
    margin-bottom: 15px;
    width: 96%;
    margin-left: 2%;
}

.home-ethos .titles-name {
    font-size: 15px;
    padding: 0 0 25px;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.home-ethos .title-name span {
    font-size: 25px;
    padding: 0 0 25px;
    display: flex;
    margin-top: 10px;
}

.home-ethos .content-name span {
    display: flex;
    padding: 0 0 25px;
}

.home-ethos .summary-new {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: white;
    font-size: 13px;
}

::ng-deep .home-ethos .table-gridview .p-paginator .p-paginator-pages .p-paginator-page {
    border-radius: 50%;
}

::ng-deep .home-ethos .table-gridview .p-paginator {
    background: unset;
}

.home-ethos .filter {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    width: 98%;
    position: absolute;
    right: calc(20px + 1rem);
    top: 20px;
}

.home-ethos .filter .no-data {
    text-align: center;
    margin-right: 100vw;
}

.home-ethos .tab-body .seperate-horizontal {
    margin-top: 15px;
    height: 7px;
    background-color: black;
    margin-bottom: 15px;
    width: 96%;
    margin-left: 2%;
}

.home-ethos .link-policy {
    padding-top: 30px;
    padding-left: 20px;
    font-size: 14px;
    color: #161615;
}

.home-ethos .link-policy a {
    color: #fff;
    text-decoration: none;
}

.home-ethos .page-card {
    border-radius: 0;
}