<form class="col-md-12 form-horizontal custom-form text-center" [formGroup]="formGroup">
  <div class="row">
    <div class="col-md-12 form-group">
      <label>Current Password</label>
      <input type="password" pInputText formControlName="Current_Password" class="w-100"
        [ngClass]="submitted && formGroup.controls.Current_Password.errors ? 'status-danger' : ''" />
      <p class="error-message" *ngIf="submitted && formGroup.controls.Current_Password.errors">{{ error['Current_Password'] }}</p>
    </div>
    <div class="col-md-12 form-group">
      <label>New Password</label>
      <input type="password" pInputText formControlName="New_Password" class="w-100"
        [ngClass]="submitted && formGroup.controls.New_Password.errors ? 'status-danger' : ''" />
      <p class="error-message" *ngIf="submitted && formGroup.controls.New_Password.errors">{{ error['New_Password'] }}</p>
    </div>
    <div class="col-md-12 form-group">
      <label>Confirm Password</label>
      <input type="password" pInputText formControlName="Renew_Password" class="w-100"
        [ngClass]="submitted && formGroup.controls.Renew_Password.errors ? 'status-danger' : ''" />
      <p class="error-message" *ngIf="submitted && formGroup.controls.Renew_Password.errors">{{ error['Renew_Password'] }}</p>
    </div>
    <div class="col-md-12 mt-3">
      <button pButton type="button" label="Save" class="btn btn-yellow w-70" (click)="save()"></button><br>
      <button pButton type="button" label="Cancel" class="btn btn-noborder " (click)="cancel()"></button>
    </div>
  </div>
</form>