<p-toast position="bottom-right"></p-toast>
<div class="col-md-12">
  <div class="page-list-campaign page-card report">
    <div class="title-name text-bold mb-3">CAMPAIGNS</div>
    <div class="list-btn-add d-inline-flex">
      <div class="btn-add btn-add-campaign mr-4" (click)="createCampaign()" *ngIf="user?.Type == 1">
        <span class="icon-add">+</span><br>
        <span>Add a campaign</span>
      </div>
  
      <div class="btn-add btn-count-campaign">
        <span class="total-number">{{totalCampaign}}</span><br>
        <span class="name">Campaigns</span>
      </div>
    </div>
  
    <div class="list-campaign">
      <div class="filter">
        <p-button icon="pi pi-replay" class="refresh-button mr-2" [loading]="loading" (click)="refresh()"></p-button>
        <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input type="text" pInputText placeholder="Search" class="input-search" [(ngModel)]="globalFilter"
            (input)="search()">
        </span>
        <p-overlayPanel #op [dismissable]="true" [showCloseIcon]="false" class="custom-overlayPanel">
          <ng-template pTemplate>
            <div class="col-md-12">
              <div class="col-md-12 form-group" *ngFor="let item of listStatus">
                <div class="field-checkbox" >
                  <p-checkbox name="group1" value="{{item.Category_ID}}" [(ngModel)]="selectedStatus"></p-checkbox>
                  <label class="ml-1">{{item.Category_Name}}</label>
                </div>
              </div>
              <div class="col-md-12">
                <button pButton type="button" label="OK" class="search-button" (click)="search()"></button>
              </div>
            </div>
          </ng-template>
        </p-overlayPanel>
        <p-button icon="pi pi-filter" class="refresh-button mr-4" [loading]="loading" (click)="op.toggle($event)"></p-button>
        <p-tabView [(activeIndex)]="activeIndex">
          <p-tabPanel header="" rightIcon="pi pi-align-justify">
          </p-tabPanel>
          <p-tabPanel header="" rightIcon="pi pi-microsoft">
          </p-tabPanel>
        </p-tabView>
      </div>
      <div class="card-content table-gridview mt-4">
        <p-table *ngIf="activeIndex == 0" #myTable [columns]="colHeader" [value]="listCampaign" class="table-center scrollbar-table scrollbar-table-appeal"
        (sortFunction)="sortColumnInList($event)" [customSort]="true" [scrollable]="true"
        scrollHeight="70vh" scrollDirection="both">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field"
                [ngStyle]="{'justify-content': col.textAlign, 'width': col.colWith}">
                <span *ngIf="i > 0">{{col.header}} <p-sortIcon></p-sortIcon></span>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr>
              <td *ngFor="let col of columns" [ngSwitch]="col.field"
                [ngStyle]="{'justify-content': col.textAlign, 'width': col.colWith}">
                <span class="p-column-title">{{col.header}}</span>
                <span *ngSwitchCase="'Campaign_Icon_Image'">
                  <img [src]="rowData[col.field]" [class]="rowData.Campaign_Status_Name == 'Live' ? 'img-fluid' : 'img-fluid img-not-live'">
                </span>
                <span *ngSwitchCase="'Campaign_Name'" class="link" (click)="goToDetail(rowData.Campaign_ID)">
                  {{rowData[col.field]}}
                </span>
                <span *ngSwitchCase="'Campaign_Launch_Date'">
                  {{rowData[col.field] | date: 'dd/MM/yyyy HH:mm'}}
                </span>
                <span *ngSwitchCase="'AmountOrEndDate'">
                  <span *ngIf="rowData.End_Date_Target">
                    {{rowData.AmountOrEndDate | date: 'dd/MM/yyyy HH:mm'}}
                  </span>
                  <span *ngIf="!rowData.End_Date_Target">
                    £{{rowData.AmountOrEndDate | number}}
                  </span>
                </span>
                <span *ngSwitchCase="'Progress'">
                  <span *ngIf="rowData.End_Date_Target">
                    {{rowData.Progress_Date ? rowData.Progress_Date + ' days to go' : ''}} 
                  </span>
                  <span *ngIf="!rowData.End_Date_Target">
                    {{rowData.Progress_Number}}%
                  </span>
                </span>
                <span *ngSwitchCase="'Amount_Raised'">
                  £{{rowData[col.field] | number}}
                </span>
                <span *ngSwitchCase="'Number_Matches'">
                  ({{rowData[col.field]}})
                </span>
                <span *ngSwitchDefault>{{rowData[col.field]}}</span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">
                No data found
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div *ngIf="activeIndex == 1" class="grid-view grid-view-appeal">
          <ul class="nav list-box">
            <li class="nav-item" *ngFor="let item of listCampaign">
              <div class="icon">
                <img src="{{item.Campaign_Icon_Image}}" [class]="item.Campaign_Status_Name == 'Live' ? 'img-fluid' : 'img-fluid img-not-live'">
                <div class="more-info" (click)="goToDetail(item.Campaign_ID)">
                  <p class="status-name status-{{item.Campaign_Status_Name}} m-0">{{item.Campaign_Status_Name}}</p>
                  <p class="text-more">More info</p>
                </div>
              </div>
              <div class="title-name">
                {{item.Campaign_Name}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
