.login {
  background: #1A1334;
  height: 100vh;
  padding: 0 0 50px;
}

.login .login-header {
  height: 100px;
  padding: 20px;
}

.login .login-header img {
  height: 100%;
  width: auto;
}

.login-wrapper {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 100px);
}

.login-wrapper .content{
  width: 500px;
  color: #ffffff;
  min-height: 100%;
}

.login-wrapper .content .content-left{
  background: url('/assets/img/banner_login.png') center center no-repeat;
  padding: 30px;
}

.login-wrapper .title{
  font-size: 35px;
}

.login-wrapper .content .content-right{
  padding: 100px 50px;
  box-shadow: 0px 3px 20px #000000A8;
  background: linear-gradient(to top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url('/assets/img/blur-charity-collaboration-1493374.png') center center no-repeat;
}

.login input{
  border-radius: 20px;
  background: #2D2252;
  color: #ffffff;
  text-align: center;
}

.login input::placeholder{
  color: #ffffff;
}

.login button {
  width: 50%;
  border-radius: 20px;
  background: #ffffff !important;
  color: #000000;
}

.login-wrapper .content .content-body {
  margin: auto;
}

@media (min-width: 1801px) and (max-width: 1920px) {
  .login-wrapper .content .content-left{
    background: url('/assets/img/banner_login_1.5x.png') center center no-repeat;
  }
  
  .login-wrapper .content .content-right{
    background: linear-gradient(to top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url('/assets/img/blur-charity-collaboration-1493374_1.5x.png') center center no-repeat;
  }
}
