<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<p-toast position="bottom-right"></p-toast>
<p-confirmDialog #cd header="Xác nhận" icon="pi pi-exclamation-triangle" >
  <ng-template pTemplate="footer">
    <button type="button" class="go-to-list" pButton label="Không" (click)="cd.reject()"></button>
    <button type="button" class="create-button" pButton label="Chấp nhận" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>

<div class="tin-nhan">
  <div class="row no-margin">
    <div class="col-md-12 header-content">
      <input type="text" pInputText placeholder="Nhập từ khóa tìm kiếm" 
        style="width: 250px;"
        [(ngModel)]="globalFilter"
        (input)="applyFilterGlobal()">
      <p-overlayPanel #op [dismissable]="true" [showCloseIcon]="false">
        <ng-template pTemplate>
          <div class="row">
            <div class="col-md-12">
              <span>Thời gian tạo:</span>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
              <div class="row">
                <div class="col-md-6">
                  <span>Từ ngày </span>
                  <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="fromCreatedDate"></p-calendar>
                </div>
                <div class="col-md-6">
                  <span>Đến ngày </span>
                  <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="toCreatedDate"></p-calendar>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
              <span>Thời gian gửi:</span>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
              <div class="row">
                <div class="col-md-6">
                  <span>Từ ngày </span>
                  <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="fromSendDate"></p-calendar>
                </div>
                <div class="col-md-6">
                  <span>Đến ngày </span>
                  <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="toSendDate"></p-calendar>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
              <span>Trạng thái:</span>
            </div>
            <div class="col-md-12">
              <p-multiSelect [options]="listStatus" [(ngModel)]="selectedStatus" 
                optionLabel="name" [style]="{'width': '100%'}" [filter]="false"
                [showHeader]="false"
                selectedItemsLabel="{0} trạng thái được chọn"
                (keydown.enter)="$event.preventDefault()"></p-multiSelect>
            </div>
          </div>
        </ng-template>
      </p-overlayPanel>
      <button type="text" pButton label="Tìm nâng cao" icon="pi pi-angle-down" iconPos="right" 
        class="advanced-search-button"
        (click)="op.toggle($event)"></button>
      <button  
        pButton type="button" label="Tìm kiếm" 
        class="search-button" [style]="{'margin-left': '5px'}" 
        (click)="search()" ></button>
      <p-button icon="pi pi-replay" [loading]="loading" [style]="{'margin-left': '5px'}" 
        (click)="refresh()" ></p-button>
      <button *ngIf="listChucNang.add"
        pButton type="button" class="create-button" label="Thêm mới" [style]="{'float': 'right'}" 
        (click)="goToCreate()" ></button>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 pd-10">
          <p-table #myTable [columns]="cols" [value]="listMessage" [responsive]="true"
            [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="stack"
            currentPageReportTemplate="Có tổng cộng {totalRecords} tin nhắn" 
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" pResizableColumn
                  [ngStyle]="{'text-align': col.textAlign, 'width': col.colWith}">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
              <tr>
                <td *ngFor="let col of columns" [ngSwitch]="col.field"
                  [ngStyle]="{'text-align': col.textAlign, 'width': col.colWith}">
                  <span class="p-column-title">{{col.header}}</span>
                  <span *ngSwitchCase="'Stt'">
                    {{rowIndex + 1}}
                  </span>
                  <span *ngSwitchCase="'CreatedDate'">
                    {{rowData[col.field] | date:'dd/MM/yyyy HH:mm'}}
                  </span>
                  <span *ngSwitchCase="'SendDate'">
                    {{rowData[col.field] | date:'dd/MM/yyyy HH:mm'}}
                  </span>
                  <span *ngSwitchCase="'Actions'">
                    <div>
                      <button *ngIf="listChucNang.edit && rowData.Status == 0"
                        pButton pRipple class="edit-button" icon="pi pi-pencil" style="margin-right: 3%;"
                        (click)="edit(rowData)"></button>
                      <button
                        pButton *ngIf="listChucNang.delete && rowData.Status == 0" pRipple class="delete-button" icon="pi pi-trash" 
                        (click)="delete(rowData)"></button>
                    </div>
                  </span>
                  <span *ngSwitchDefault>
                    {{rowData[col.field]}}
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>