.appeal-create .mt-8 {
  margin-top: 8rem !important;
}

.appeal-create .appeal-create-page {
  background: #2D2252 0% 0% no-repeat padding-box;
  border-radius: 25px;
  padding: 20px;
}

.appeal-create .appeal-body {
  min-height: 518px;
  /* overflow-y: auto; */
}

.appeal-create .custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #1A1334;
}

.appeal-create .custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background-color: #1A1334;
}

.appeal-create .custom-scrollbar-yellow::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #F88111;
}

.appeal-create .image {
  height: 120px;
}

.appeal-create .image-profile {
  height: 100%;
  max-height: 100%;
  max-width: 180px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;

}

.appeal-create .custom-image {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.appeal-create .custom-image .image {
  width: 180px;
  border-radius: 10px;
}

.appeal-create .custom-image .image.image-edit {
  background: #1a1334;
}

.appeal-create .custom-button-upload {
  text-align: center;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.appeal-create .custom-button-upload .btn-upload {
  width: 180px;
  background: #4c4c4c;
  box-shadow: 0px 3px 10px #0000004d;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.7;
}

.appeal-create .custom-button-upload .btn-upload button {
  color: #ffffff;
}

.appeal-create .custom-button-upload .btn-upload button:hover {
  background-color: transparent;
  border: 1px solid transparent;
}

.appeal-create .btn-add-new {
  text-align: center;
}

.appeal-create .btn-add-new button {
  border-radius: 27px;
}

.appeal-create .btn-add-new button.btn-create,
.appeal-create .btn-add-new button.btn-cancel {
  width: 10em;
}