.appeal-detail .mt-8 {
  margin-top: 8rem !important;
}

.appeal-detail .appeal-detail-page {
  background: #2D2252 0% 0% no-repeat padding-box;
  border-radius: 25px;
  padding: 20px;
}

.appeal-detail .appeal-body {
  min-height: 615px;
  /* overflow-y: auto; */
}

.appeal-detail .custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #1A1334;
}

.appeal-detail .custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background-color: #1A1334;
}

.appeal-detail .custom-scrollbar-yellow::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #F88111;
}

.appeal-detail .image {
  height: 120px;
}

.appeal-detail .image-profile {
  height: 100%;
  max-height: 100%;
  max-width: 180px;
  /* box-shadow: 0px 0px 10px #00000080; */
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.appeal-detail .custom-image {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.appeal-detail .custom-image .image {
  width: 180px;
  border-radius: 10px;
}

.appeal-detail .custom-image .image.image-edit {
  background: #1a1334;
}

.appeal-detail .custom-button-upload {
  text-align: center;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.appeal-detail .custom-button-upload .btn-upload {
  width: 180px;
  background: #4c4c4c;
  box-shadow: 0px 3px 10px #0000004d;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.7;
}

.appeal-detail .custom-button-upload .btn-upload button {
  color: #ffffff;
}

.appeal-detail .custom-button-upload .btn-upload button:hover {
  background-color: transparent;
  border: 1px solid transparent;
}

.appeal-detail .btn-add-new {
  text-align: center;
}

.appeal-detail .btn-add-new button{
  border-radius: 27px;
}

.appeal-detail .btn-add-new button.btn-create,
.appeal-detail .btn-add-new button.btn-cancel {
  width: 10em;
}

.appeal-detail .list-btn-add .btn-add{
  box-shadow: 0px 0px 10px #00000080;
  border-radius: 15px;
  height: 120px;
}

.appeal-detail .list-btn-add .btn-add.btn-add-campaign{
  background: #1A1134 0% 0% no-repeat padding-box;
  border: 2px solid #702789;
  text-align: center;
  cursor: pointer;
}

.appeal-detail .list-btn-add .icon-add{
  font-size: 50px;
}

.appeal-detail  .list-btn-add .btn-add.btn-count-campaign{
  padding: 30px 15px 0;
  background: transparent linear-gradient(23deg, #6F2D87 0%, #F0278A 45%, #F88111 100%) 0% 0% no-repeat padding-box;
  cursor: pointer;
}

.appeal-detail .list-btn-add .total-number{
  font-size: 30px;
}

.appeal-detail .list-btn-add .name{
  font-size: 16px;
}

.appeal-detail .total-donate {
  text-align: center;
  border: 1px solid #25A381;
  border-radius: 15px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}