@import url("../create-appeal/create-appeal.component.css");

.appeal-create.appeal-detail .appeal-body {
  min-height: 615px;
  /* overflow-y: auto; */
}

.appeal-detail .list-btn-add .btn-add{
  box-shadow: 0px 0px 10px #00000080;
  border-radius: 15px;
  height: 120px;
}

.appeal-detail .list-btn-add .btn-add.btn-add-campaign{
  background: #1A1134 0% 0% no-repeat padding-box;
  border: 2px solid #702789;
  text-align: center;
  cursor: pointer;
}

.appeal-detail .list-btn-add .icon-add{
  font-size: 50px;
}

.appeal-detail  .list-btn-add .btn-add.btn-count-campaign{
  padding: 30px 15px 0;
  background: transparent linear-gradient(23deg, #6F2D87 0%, #F0278A 45%, #F88111 100%) 0% 0% no-repeat padding-box;
  cursor: pointer;
}

.appeal-detail .list-btn-add .total-number{
  font-size: 30px;
}

.appeal-detail .list-btn-add .name{
  font-size: 16px;
}

.appeal-detail .total-donate {
  text-align: center;
  border: 1px solid #25A381;
  border-radius: 15px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.appeal-create.appeal-detail .appeal-body .content-new {
  height: 250px;
}