<div class="profile-page news">
  <div class="title-name text-bold mb-3">YOUR NEWS</div>
  <div class="list-news">
    <div class="row item mb-3" *ngFor="let item of listNew" (click)="goToDetail(item.News_Item_ID)">
      <div class="col-md-3">
        <div class="icon-image">
          <img class="img-fluid img-new" [src]="item.News_Image ? item.News_Image : '/assets/img/Default Image.png'">
        </div>
      </div>
      <div class="col-md-9">
        <div class="title-new text-green">{{item.News_Title}}</div>
        <div class="summary-new" [innerHtml]="item.News_Content"></div>
      </div>
    </div>
  </div>
  <div class="list-button text-center mt-3">
    <button *ngIf="isMyCharity || isMyCompany || (user?.IsAdmin && !objectId)" pButton type="button" label="View all" class="btn btn-green w-30" (click)="goToListNew()"></button>
  </div>
</div>