<div class="home-ethos">
  <div class="col-md-12 content-body">
    <div class="row">
      <div class="col-md-6 text-white">
        <img src="../../../../assets/img/Annotation 2022-07-01 095311.png">
      </div>
      <div class="seperate-body">
        <div class="seperate"></div>
      </div>
      <div class="col-md-5">
        <div class="title-name text-bold">
          <span>Why moves matter for charities</span>
        </div>
        <div class="content-name text-black w-100" style="text-align: justify;">
          <span>Charities continually seek publicity and funding for
            their causes and to meet their charitable aims.</span>
        </div>
        <div class="content-name text-black w-100" style="text-align: justify;">
          <span>Charities will be invited to register on the Moves
            Matter platform where their details will be
            searchable to companies and the public. The means
            to highlight their latest appeals will be available and
            a platform-wide News-feed will keep their presence
            in the user consciousness.
          </span>
        </div>
        <div class="content-name text-black w-100" style="text-align: justify;">
          <span>Charities seek funding from companies who earmark
            considerable donation budgets for both practical
            and altruistic reasons.
          </span>
        </div>
      </div>
    </div>
    <div class="seperate-horizontal">
    </div>
    <div class="row">
      <div class="col-md-6 text-white">
        <img src="../../../../assets/img/Annotation 2022-07-01 095337.png">
      </div>
      <div class="seperate-body">
        <div class="seperate"></div>
      </div>
      <div class="col-md-5">
        <div class="title-name text-bold">
          <span>Why moves matter for companies</span>
        </div>
        <div class="content-name text-black w-100" style="text-align: justify;">
          <span>It’s no secret that companies exist to make money.
            However, increasingly in today’s world, to attract
            customers, employees and shareholders, they also
            need to prove that they are giving back to society at
            large.</span>
        </div>
        <div class="content-name text-black w-100" style="text-align: justify;">
          <span>More and more companies are therefore subscribing
            to, and leveraging, their social responsibility activity
            to help illustrate their credentials and differentiate
            themselves from the competition.
          </span>
        </div>
      </div>
    </div>
    <div class="seperate-horizontal">
    </div>
    <div class="row">
      <div class="col-md-6 text-white">
        <img src="../../../../assets/img/Annotation 2022-07-01 095400.png">
      </div>
      <div class="seperate-body">
        <div class="seperate"></div>
      </div>
      <div class="col-md-5">
        <div class="title-name text-bold">
          <span>Bringing charities and companies
            together</span>
        </div>
        <div class="content-name text-black w-100" style="text-align: justify;">
          <span>Moves Matter brings charities and companies
            together to generate charitable giving through the
            simple act of movement.</span>
        </div>
        <div class="content-name text-black w-100" style="text-align: justify;">
          <span>Moves Matter provides the means for charities and
            companies to develop fund-raising campaigns, with
            an agreed, nominated financial target, and share
            them with the public.
          </span>
        </div>
        <div class="content-name text-black w-100" style="text-align: justify;">
          <span>While ‘live’ other companies can choose to ‘match’ the
            campaign, committing to pay the equivalent financial
            contribution to the charity.
          </span>
        </div>
        <div class="content-name text-black w-100" style="text-align: justify;">
          <span>Effectively, the charity’s causes and the company’s
            altruism is made public in a social media setting.
          </span>
        </div>
      </div>
    </div>
    <div class="seperate-horizontal">
    </div>
    <div class="row">
      <div class="col-md-6 text-white">
        <img src="../../../../assets/img/Annotation 2022-07-01 095419.png">
      </div>
      <div class="seperate-body">
        <div class="seperate"></div>
      </div>
      <div class="col-md-5">
        <div class="title-name text-bold">
          <span>Why moves matter for the public</span>
        </div>
        <div class="content-name text-black w-100" style="text-align: justify;">
          <span>The Moves Matter platform is not another passive, scrolling
            social media setting. Instead, Moves Matter App users will
            be engaged and motivated, using their movement to
            contribute to causes on an ongoing basis, moving with
            purpose, giving back to society.</span>
        </div>
        <div class="content-name text-black w-100" style="text-align: justify;">
          <span>Moves Matter provides the means for charities and
            companies to develop fund-raising campaigns, with
            an agreed, nominated financial target, and share
            them with the public.
          </span>
        </div>
        <div class="content-name text-black w-100" style="text-align: justify;">
          <span>The Moves Matter App will upload the user’s activity and
            convert it to ‘Moves’ - a currency - which can be applied
            across one or more of the user’s favoured campaigns. Once
            the Moves donated reaches the campaign’s target, the
            campaign is fully funded and the company pays the agreed
            amount to the charity.
          </span>
        </div>
        <div class="content-name text-black w-100" style="text-align: justify;">
          <span>The app will also enable users to make financial donations
            to charities, share their giving across other social media
            platforms and even lodge requests inviting their favourite
            charities to join Moves Matter.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>