@import url('../../../appeal/component/detail-appeal/detail-appeal.component.css');

.campaign-create .select-image {
  height: 70px;
  width: auto;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  margin: 1rem 0;
}
