.tin-nhan-den {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.tin-nhan-den .header-content {
  padding: 10px 10px 10px 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #066351;
  border-bottom: 1px solid #ccc;
  position: relative;
  margin-bottom: 10px;
}

.tin-nhan-den .header-title {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-transform: uppercase;
}

.tin-nhan-den .mt-10 {
  margin-top: 10px !important;
}

.tin-nhan-den .pd-10 {
  padding: 10px !important;
}

.tin-nhan-den .pd-30 {
  padding: 30px !important;
}

.tin-nhan-den .message-border {
  padding: 10px;
  border: 2px solid #3A7AFE;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 0px;
}

.tin-nhan-den .tieu-de-chua-xem {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #066351;
}

.tin-nhan-den .noi-dung-chua-xem {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
}

.tin-nhan-den .tieu-de-da-xem {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #066351;
}

.tin-nhan-den .noi-dung-da-xem {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 13px;
}

.tin-nhan-den .file-dinh-kem {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #005CB9;
}

.tin-nhan-den .nguoi-gui {
  text-align: right;
  font-family: 'Roboto';
  font-style: italic;
  font-size: 12px;
  line-height: 14px;
  color: #464A53;
}

@media only screen and (max-width: 768px) {
  .tin-nhan-den .header-content {
    padding: 15px 10px 35px 10px;
  }

  .tin-nhan-den .header-left {
    top: 5px;
  }

  .tin-nhan-den .header-right {
    top: 20px;
  }
}