<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<div class="login">
  <p-toast [baseZIndex]="9999" position="bottom-right"></p-toast>
  <div class="login-header">
    <img src="assets/img/logo_text_white.png" alt="Moves matter" class="logo-icon img-fluid">
  </div>
  <div class="login-wrapper">
    <div class="content h-100">
      <div class="row h-100">
        <div class="col-md-12 content-left">
          <div class="row h-100">
            <div class="col-md-12 content-body">
              <div class="title text-center" [innerHtml]="hashCode ? (type == 1 ? 'Reset Your Password' : 'Set Password') : 'Forgot Your Password' ">
              </div>
              <p class="text-center" *ngIf="Charity_Name || Company_Name">{{Charity_Name ? Charity_Name : Company_Name}}</p>
              <p class="text-center">{{message}}</p>
              <div *ngIf="!is_Reset_Pass_From_Mobile" class="login-body">
                <form class="col-md-12 form-horizontal custom-form" [formGroup]="formGroup">
                  <div class="row">
                    <div class="col-md-12 form-group" *ngIf="!hashCode">
                      <input type="email" pInputText formControlName="email" class="w-100" placeholder="Email"
                        [ngClass]="submitted && formGroup.controls.email.errors ? 'status-danger' : ''" />
                      <p class="error-message" *ngIf="submitted && formGroup.controls.email.errors">{{ error['email'] }}
                      </p>
                    </div>
                    <div class="col-md-12 form-group" *ngIf="hashCode">
                      <label>New Password</label>
                      <input type="password" pInputText formControlName="newPass" class="w-100"
                        [ngClass]="submitted && formGroup.controls.newPass.errors ? 'status-danger' : ''" />
                      <p class="error-message" *ngIf="submitted && formGroup.controls.newPass.errors">{{
                        error['newPass'] }}</p>
                    </div>
                    <div class="col-md-12 form-group" *ngIf="hashCode">
                      <label>Confirm Password</label>
                      <input type="password" pInputText formControlName="reNewPass" class="w-100"
                        [ngClass]="submitted && formGroup.controls.reNewPass.errors ? 'status-danger' : ''" />
                      <p class="error-message" *ngIf="submitted && formGroup.controls.reNewPass.errors">{{
                        error['reNewPass'] }}</p>
                    </div>
                    <div class="col-md-12 d-inline-flex justify-content-center mt-3">
                      <button *ngIf="!hashCode" pButton type="button" label="Send" class="btn-primary"
                        (click)="signPass()"></button>
                      <button *ngIf="hashCode" pButton type="button" label="Save" class="btn-primary"
                        (click)="updatePassword()"></button>
                      <button pButton type="button" label="Cancel" class="btn-primary ml-2" (click)="cancel()"></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>