.news-detail-page .title-name {
    font-size: 30px;
}

.news-detail-page .text-url {
    font-style     : italic;
    text-decoration: underline;
    color          : #007bff;
}


::ng-deep .news-detail-page .infor img {
    max-width: 100%;
}

.news .news-detail-page {
    background: white;
    padding   : 2rem 5rem;
    color     : black
}

.news-detail-page .appeal-body {
    min-height: 615px;
}

::ng-deep .news-detail-page .image-profile {
    border-radius  : 10px;
    max-width: 100%;
    height: auto;
}

.news-detail-page .content{
    text-align: justify;
}

.news-detail-page .custom-image {
    cursor: pointer;
}