<!-- <nav class="main-headers navbar navbar-expand navbar-light navbar-white">
    <img src="../../assets/img/logo_text_white.png">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
</nav> -->
<!-- <div class="contents-wrapper home"> -->
    <div class="news home-ethos">
        <!-- <div class="col-md-12">
            <div class="row"> -->
                <div class="news-detail-page">
                    <div class="appeal-body custom-scrollbar custom-scrollbar-yellow">
                        <div class="row custom-form">
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <div class="custom-image" (click)="goToLink()">
                                            <div class="image">
                                                <img class="img-fluid image-profile" [src]="transform(currentLogoUrl)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <p>Published: {{news?.News_Publish_Date | date:'dd/MM/yyyy HH:mm'}}</p>
                                        <p>By: {{news?.CreateBy}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="content">
                                        <div class="col-md-12 form-group title-name text-bold">
                                            <p>{{news?.News_Title}}</p>
                                        </div>
                                        <!-- <div class="col-md-12 form-group">
                                            <p class="text-url">{{news?.News_Url}}</p>
                                        </div> -->
                                        <div class="infor col-md-12 form-group" [innerHtml]="news?.News_Content">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div>
        </div> -->
    </div>
<!-- </div> -->